<div class="container" style="width: 100%">
    <br>
    <div class="container">
        <div class="row">
            <div class='col-sm-12' ng-if="vm.states.length>0">
                <span ng-repeat="state in vm.states">
                    <button type="button" ng-click="vm.loadState(state)">{{state}}</button>
                </span>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div>
                            <div ng-if="vm.dataLength>0">
                                <div class="card-header" id="headingTwo" style="background-color: #571e0c; color: white">
                                    <h2 class="mb-0">
                                        <label>District Wise Details [Last Updated On : {{vm.lastUpdatedTime}}]</label>
                                    </h2>
                                    <h4 class="mb-0">
                                        <label>State: {{vm.state}} Active: {{vm.active}} Confirmed : {{vm.confirmed}} Death: {{vm.death}}</label>
                                    </h4>
                                </div>
                                <div ng-if="vm.gridOptions.data.length>0">
                                    <div ag-grid="vm.gridOptions" class="ag-theme-fresh"
                                         style="width:100%;height:100%;"></div>
                                </div>
                            </div>
                            <div class="card-body" ng-if="vm.dataLength==0">
                                No Employee Record Available
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
